



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  
}


body {
  font-family: 'Poppins', sans-serif;
  position:relative;
  
}

header {
  position: sticky;
  background-color:#fff;
  color: black;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  z-index: 2;
  top: 0;
  
}

header h1 {
  cursor: pointer;
}
  
.hero-section {
  position: relative;
  background-size: cover;
  background-color:#f9f9f9;
  text-align: center;
  padding: 20rem;
  display: flex;
  height: 100vh;
  justify-content: center;
  gap: 10rem;
  position: relative;
  width: 100%;
  
  
}

.hero-text {
  display:flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;
}

.hero-text span {
  cursor:pointer; 
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
}


.fa-x-twitter,
.fa-github {
  font-size: 3rem;
  color: black;  
}

.hero-section img {
  max-width: 50%;
  height: 35rem;
  border-radius: 50%; /* Adjust as needed */
  margin-bottom: 3rem;
  width: 35rem;
  position: relative;
  
  
}

.hero-section h2 {
  font-size: 5.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: black;
  line-height: 1.2;
  margin-right: 6rem;


}

.hero-section p {
  font-size: 1.8rem;
  color: #555;
  font-weight: 500;
  line-height: 1.6;
}

nav a {
  color: #2d2e32;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1.7rem;
  padding: 10px 20px 10px 20px;
  width: 100%;
  font-weight: 600;
  transition: color 0.3s ease;
  
}

nav a:hover {
  color: #147efb
}



.section {
  padding: 2rem;
  text-align: center;
}


/* About section Starts here */


.about_section {
  background-color: white; 
  padding: 5rem;
  text-align: center;

}

.about-content {
  align-items: center;
  display: flex;
  justify-content: center;
  
}


.about_section h3 {
  color: #147efb;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about_section h4 {
  color:#2d2e32;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.about-card {
  display:flex;
  border: 1px solid #fff;
  border-radius: 8px;
  overflow:hidden;
  margin: 0 auto;
  max-width: 1000px;
  
}

.about-img {
  flex: 1;
  overflow:hidden;
}

.about-img img {
  width:100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.about-text {
  flex: 1;
  padding: 20px
}

.about-text p {
  color: #767676;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}
