








* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  
}


body {
  font-family: 'Poppins', sans-serif;
  position:relative;
  
}

header {
  position: sticky;
  background-color:#fff;
  color: black;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  z-index: 2;
  top: 0;
  
}

header h1 {
  cursor: pointer;
}
  
.hero-section {
  /* Other styles remain unchanged */
  background-size: cover;
  background-color:#f9f9f9;
  padding: 20rem;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  text-align: left; /* Align text to the left */
}

.hero-text {
  /* Other styles remain unchanged */

  text-align: left; /* Align text to the left */
  max-width: 50rem;
}


.hero-text span {
  cursor:pointer; 
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
}


.fa-x-twitter,
.fa-github {
  font-size: 3rem;
  color: black;  
}

.fa-arrow-up-right-from-square {
  font-size: 2.5rem;
  color: black;
}


.icon-with-text {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: auto;
  
}

.icon-with-text span {
  font-weight: 500; 
  font-size: 1.7rem;
  gap: 5rem;
}



.hero-section img {
  max-width: 50%;
  height: 35rem;
  border-radius: 50%; /* Adjust as needed */
  margin-bottom: 3rem;
  width: 35rem;
  position: relative;
  
  
}

.hero-section h2 {
  font-size: 5.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: black;
  line-height: 1.2;
  margin-right: 6rem;


}

.hero-section p {
  font-size: 1.8rem;
  color: #555;
  font-weight: 500;
  line-height: 1.6;
}





nav a {
  color: #2d2e32;
  text-decoration: none;
  margin-left: 2rem;
  font-size: 1.7rem;
  padding: 10px 20px 10px 20px;
  width: 100%;
  font-weight: 600;
  transition: color 0.3s ease;
  
}

nav a:hover {
  color: #147efb
}



.section {
  padding: 2rem;
  text-align: center;
}

/* About Customs */


.about_section {
  background-size: cover;
  background-color:#fff;
  padding: 20rem;
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  text-align: left; /* Align text to the left */
}




.about-content {
  align-items: center;
  display: flex;
  justify-content: center;
  
}


.about_section h3 {
  color: #147efb;
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.about_section h4 {
  color:#2d2e32;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.about-card {
  display:flex;
  border: 1px solid #fff;
  border-radius: 8px;
  overflow:hidden;
  margin: 0 auto;
  max-width: 1000px;
  
}

.about-img {
  flex: 1;
  overflow:hidden;
}

.about-img img {
  width:100%;
  height: auto;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}


.about-text {
  flex: 1;
  padding: 20px
}

.about-text p {
  color: #767676;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}





/* Portfolio Customs */

.portfolio_section {
  background-color: #f9f9f9;
  padding: 2rem;
  text-align: left;
}

.portfolio-header {
  color: #2d2e32;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  justify-content: left;
  margin-right: 50rem;
  padding: 10rem;
  text-align: center;
}

.portfolio-header h3 {
  color: #147efb;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-right: 60rem
}

.portfolio-header p {
  color: #2d2e32;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.6;
}


.portfolio-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center; /* Center the items */
}

.portfolio-item {
  flex: 1;
  margin-bottom: 5rem;
}

.portfolio-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  margin: 0 auto;
  max-width: 120rem;
  margin-bottom: 10rem;
}

.portfolio-content {
  display: flex;
  align-items: center;
}

.portfolio-content img {
  width: 50%;
  height: auto;
}

.portfolio-content > div {
  flex: 1;
  padding: 1rem;
}

/* Larger card style */
.larger-card {
  flex: 2;
  margin-bottom: 2rem;
}

.portfolio-text {
  position: relative;
}

.icons-container1 {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 6rem;
  margin-bottom: -25rem;
}
  
.icon-with-text1 {
  display: flex;
  align-items: center;
  

}

.icon-with-text1 span {
  font-weight: 500;
  font-size: 1.7rem;
  margin-left: 0.5rem;
}



.project-1 .portfolio-text .project-title {
  
  font-size: 2.5rem;
  color: #2d2e32;
  font-weight: 600;
  margin-top: -30rem;
  margin-left: 14rem;

}

.project-1 .portfolio-text .project-description {
  margin-top: 10rem;
  color: #767676;
  font-size: 1.7rem;
  font-weight: 500;
  text-align: center;
  

}

.project-2 .portfolio-text .project-title {
margin-top: -15rem;
font-size: 2.5rem;
color: #2d2e32;
font-weight: 600;
margin-left: 20rem;

}

.project-2 .portfolio-text .project-description {
color:#767676;
font-size: 1.3rem;
font-weight: 500;
text-align: center;
margin-top: 5rem;
}


.project-3 .portfolio-text .project-title {
  margin-top: -15rem;
  font-size: 2.5rem;
  color: #2d2e32;
  font-weight: 600;
  margin-left: 20rem;
  
  }
  
  .project-3 .portfolio-text .project-description {
  color:#767676;
  font-size: 1.3rem;
  font-weight: 500;
  text-align: center;
  margin-top: 5rem;
  }

.icons-container2 {
position: absolute;
bottom: 0;

display: flex;
gap: 5rem;
margin-bottom: -12rem;
left: 20rem;
}



.icon-with-text2 {
display: flex;
align-items: center;

}



.icon-with-text2 span {
font-weight: 500;
font-size: 1.7rem;
margin-left: 0.5rem;
}

/*Contact section starts here */

.contact-section {
  background-color: #fff;
  padding: 8rem;
  
}

.contact-container {
  max-width: 75rem;
  margin: 0 auto;
  padding: 0 4rem;
}

.contact-content {
  display: flex; 
  flex-direction: column; 
}

.contact-title {
  font-size: 2rem;
  
}

.contact-title h4 {
  color: #147efb;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contact-title p {
  color: #2d2e32;
  font-size: 2.5rem;
  font-weight: 700;

}


.contact-icons {
  display: flex; 
  flex-wrap: wrap;
  gap: 8rem;
  margin-top: 6rem;
}

.contact-icon-box {
  display: flex; 
  align-items: center; 
  gap: 1.5rem;
}

.contact-icon-box span {
  align-items: center;
  color:#147efb;
  display: flex; 
  height: rem;
  width: 5rem;
  justify-content: center;
  font-size: 3rem;


}

.contact-info {
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  gap: 0.5rem;
}

.contact-info h5 {
  color: #2d2e32;
  font-size: 2rem;
}



.contact-info a {
  color:#2d2e32;
  text-decoration: none;
  font-size: 1.7rem;
  
}


.contact-info a:hover {
  color: #147efb;
}